    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="about">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Where it all begins.</h2>
					<p>"Interested in data? […] There are a couple of conditions. My life is in danger. We will only chat over encrypted files. No meeting, ever."</p>
				
					<p>If you believe that this quote comes from a spy fiction you are wrong. It is by this words that started the biggest Data leak in the world which lead to resignation of politicians and billionaires. These words are from an anonymous source, called himself John Doe, to Bastian Obermayer, an investigative Journalist in the newspaper Süddeutsche Zeitung based in Munich.</p>
	
					<p>Ok, but what was that all about? It is more than 11.5 million leaked documents representing more two and a half terabytes of Data that detail financial and attorney-client information registered in tax heavens. Thus, these shell companies are often used to launder money through their associated offshore accounts.</p>

					<p>The information leaked from Mossack Fonseca, a Panamanian law firm and the world’s fourth larger provider of offshore financial services. It covers more than 214 000 offshore entities from 1970 to 2016 in more than 150 countries.</p>

					<p>After the exchange with the anonymous source, the German journal sought help to the International Consortium of Investigative Journalists (ICJC). A mass investigation 	begins in an attempt to denounce these revealed and unpunished crimes: “The revolution will be digital”. After one year of investigation the truth is revealed.</p>
				</div>
			</div>
		</div>
    </section>