<style>
figure {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

img {
  border-radius: 50%;
}
</style>

<!-- Authors Section -->
<section id="authors" class="content-section text-center">
    <div class="authors">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Authors</h2>
					<figure>
						<img src="https://media.licdn.com/dms/image/C5603AQExLz_zN9J5zQ/profile-displayphoto-shrink_200_200/0?e=1550102400&v=beta&t=aFjzFm1vKR_DI7Y-_Y59Ys-K71ahhr_Zp6yZmqbtKeA" alt="Sabrina Kall" height="150" width="150" style="padding-bottom:0.5em;">
						<figcaption>Sabrina Kall</figcaption>
					</figure>

					<figure>
						<img src="https://media.licdn.com/dms/image/C4D03AQGEqzsY_1OSvg/profile-displayphoto-shrink_800_800/0?e=1550102400&v=beta&t=8Lp7Mmc35aOiJNhUL0g50GiQkNErzFHjbmUa2QdtxgI" alt="Ruijia Wang" height="150" width="150" style="padding-bottom:0.5em;">
						<figcaption>Ruijia Wang</figcaption>
					</figure>

					<figure>
						<img src="https://media.licdn.com/dms/image/C4D03AQF5Y_3x2agedA/profile-displayphoto-shrink_800_800/0?e=1550102400&v=beta&t=bPq7X2oqleTRt1M5JYBajHpB6fKSifF9iv9LlaFxJQs" alt="Theo Imler" height="150" width="150" style="padding-bottom:0.5em;">
						<figcaption>Theo Imler</figcaption>
					</figure>

            </div>
        </div>
    </div>
</section>
