    <!-- About Section -->
    <section id="donate" class="content-section text-center">
        <div class="donate">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Do you have a minute to help your neighbor?</h2>
					
					<p>In 2016, <a href="https://www.zewo.ch/fr/Images/Statistiken/Infografik-F-2500px.png" target="_blank">8 out of 10 homes in Switzerland have donated money to charities </a> in diverse domains such as social help, education, or medical help for a total of 1,7 billions of Swiss Francs.</p>

					<p>The primary roles of a charitable organization are <i>philanthropy</i> and <i>social well-being</i>. When you donate money to a charity, you expect that your money will help those in need. The Panama Papers have shown that the reality could be darker. Indeed, some well-known caritative organization have been named in recent fraud leaks (Panamas and Paradise Papers, Offshore and Bahamas Leaks), such as the <i> International Red Cross</i> or <i>The World Wildlife Fund (WWF)</i>.</p>

					<p>This raises serious questions about how charities handle money and could create serious issues for them. Indeed, one of the main keys to success for charities is their reputation and the trust we have in them. To maintain this trust, these organizations must appear transparent and prove the truthfulness of their actions.</p>

					<p>Being caught with accounts in known tax havens can have a serious impact on the reputation of a charity and on the donations they will receive. After all, who would give money to an organisation knowing that it might well end up in some rich executive's offshore account? But the situation is much more complicated! Indeed, it has come out that many shell companies in the Panama Papers were stealing the identity of charities. This of course can put the reputations of perfectly honest charities at risk.</p>

					<p>Thus, we decided to investigate which charity named in theses leaks were worthy or not of our trust.</p>

					<p>To hunt down dishonest charities we used the database of <a href="https://www.icij.org/" target="_blank">the International Consortium of Investigative Journalists</a>, which contains information about major financial data leaks that occurred in the last five years. Let us tell you some more about how the most famous of these leaks: <i>the Panamas Papers</i>.</p>
				</div>
			</div>
		</div>
    </section>
