    <!-- About Section -->
    <section id="donate" class="content-section text-center">
        <div class="donate">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Do you have a minute to help your neighbor?</h2>
					
					<p>In 2016, 8 out of 10 homes in Switzerland (from ZEWO) have donated money to charities in diverse domains such as social help, education, or medical help for a total of 1,7 billions of Swiss Francs.</p>

					<p>The primaries of a charitable organization are <i>philanthropy</i> and <i>social well-being</i>. So when you donate money to a charity, you expect that your donations will profit to the ones that are in need. The Panama Papers have shown that the reality could be darker. Indeed, some well-known charitative organization have been named in the recent fraud leak (Panamas and Paradise Papers, Offshore and Bahamas Leaks) as the <i> International Red Cross</i> or <i>WWF</i>.</p>

					<p>This raise serious questions about how money is treated among charities and could create serious issues for them. One of the main keys to success for charities are their reputation and the trust we have in them. To maintain this trust, these organizations must be transparent and prove the truthfulness of their actions.</p>

					<p>A scandal taking part in fraud leaks can lead to serious impact on the reputation of these charities and on the donations they will receive. Who would give money to rich people, fructuating for the nes that have already too much? But the situation is much more complicated! Indeed, it has come out that many shell companies in the Panama Papers were stealing the identity of charities. This of course can put the reputations of perfectly honest charities at risk.</p>

					<p>Thus, we decided to investigate which charity named in theses leaks were worthy or not of our trust.</p>

					<p>To hunt down dishonest charities we used the database of the International Consortium of Investigative Journalists (ICIJ) containing information about major financial data leaks that occurred in the last five years. Beforehand, it would be interesting to know how theses information got public. We chose to detail here the biggest and most leak: <i>the Panamas Papers</i>.</p>
				</div>
			</div>
		</div>
    </section>