    <!-- About Section -->
    <section id="fall" class="content-section text-center">
        <div class="fall">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Where it all begins.</h2>
					<p><i>"Interested in data ? <…> There are a couple of conditions. My life is in danger. We will only chat over encrypted files. No meeting, ever."</i></p>

					<p>If you believe that this quote comes from a spy story, you are wrong. It is by this words that started the biggest data leaks in History, which led to demission of a prime minister and more. These words are from an anonymous source, calling himself John Doe, to Bastian Obermayer, an investigative Journalist working the Munich-based newspaper Süddeutsche Zeitung.</p>

					<p>This resulted in more than 11.5 million leaked document and 2.5 teraoctets of data that detail financial and attorney-client for more than 214'000 offshores entities from 1970 to 2016 in more than 150 countries.</p>

					<p>In his text called “The revolution will be digitized”, the anonymous whistleblower explains that he "understood enough about their contents to realise the scale of the injustices they described." and wanted to shed light upon theses crimes and make them public.</p>

					<p>But from where does the data come from? The information leaked from <i>Mossack Fonseca</i>, a Panamanian law firm and the world’s fourth larger provider of offshore financial services.</p>

					<p>After the exchange with the anonymous informator, the German journal sought help to the ICJC. A massive operation begun. After one year of investigation the results are finally published.</p>

					<p>Among them : name of then-current national leader, several former heads of state and prime ministers, actors, famous football players, and… Charities.</p>
				</div>
			</div>
		</div>
    </section>