    <!-- About Section -->
    <section id="fall" class="content-section text-center">
        <div class="fall">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Where it all begins.</h2>
					<p><i>"Interested in data? [...] There are a couple of conditions. My life is in danger. We will only chat over encrypted files. No meeting, ever."</i></p>

					<p>If you believe that this quote comes from a spy novel, you are wrong. These are the words that started one of the biggest data leaks in History, leading to resignations, imprisonments and more. They come from an anonymous source, referred to as John Doe, to Bastian Obermayer, an investigative journalist working for the Munich-based newspaper <a href="https://panamapapers.sueddeutsche.de/articles/56ff9a28a1bb8d3c3495ae13/" target="_blank">Süddeutsche Zeitung</a>.</p>

					<p>This exchange resulted in more than 11.5 million leaked documents and 2.5 terabytes of data detailing the financial information of more than 214'000 offshores entities, stretching from 1970 to 2016 and spanning more than 150 countries.</p>

					<p>In their manifesto, titled “The Revolution will be Digitized”, the anonymous whistleblower explained about the leaks that they "<i>understood enough about their contents to realise the scale of the injustices they described</i>" and wanted to shed light upon the crimes described within.</p>

					<p>Where does the data come from? The information leaked from <i>Mossack Fonseca</i>, a Panamanian law firm and the world’s fourth larger provider of offshore financial services.</p>

					<p>After the exchange with the anonymous informer, the German newspaper sought help from the ICIJ, and after a year of investigation into the leaked data, the results were finally published.</p>

					<p>Among the leaked names: one current head of state, several former heads of state and prime ministers, actors, famous football players, and of course, some of the world's most well-known charities.</p>
				</div>
			</div>
		</div>
    </section>
