    <!-- Dataset Section -->
    <section id="trial" class="content-section text-center">
        <div class="trial">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Give, but give wisely ! </h2>
					
						<p> From the leaked data published by the ICIJ we raised the question about how charities handle money. We insisted about the importance of their reputation as a key to success.
							With our investigation we have shown that the majority of the charities present in the leaks were not implicated directly and that their names were often usurped by the law firms to help obscure the origin of money in questionable funds. </p>
							
						<p> It is important for these charities to not suffer for their nominations in theses leaks. From now, we know that the biggest charities have published a disclaimer about their implication (for example <i> The Red Cross </i> and <i> Amnesty International </i>).
							
						<p> However, our quest for justice brought us in darker places and the discovery of some black sheeps.
							It is again more shocking to discover than these guilty charities can spend the money donated on the opposite way of their initial objective (<i>The Nature Conservancy</i>).</p>
							
						<p> We asked how charities behave and with our work we only scratched the surface of the problematic, showing that everything was not perfect. But our work could be extended. First by integrating data on more charities, we only worked with the famous ones.
						One pist we could follow is to establish a scoring algorithm for every charities named in the leaks assessing the risk they cheated.</p>
							
						<p> These findings must not impact the gifts made. However it should draw attention on who you give. In Switzerland, it is safe to give to any CEWO-certified charities.
							
						<p> And if you realize with this lecture that you once helped a bilionnar to buy one of his cigar, don't feel guilty : </p>
						
						
						<h4>“It's not how much we give but how much love we put into giving.” </h4>
						<h5>Mother Theresa</h5>
						
				</div>
			</div>
		</div>
    </section>