    <!-- Dataset Section -->
    <section id="trial" class="content-section text-center">
        <div class="trial">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Give, but give wisely ! </h2>
					
						<p> From the leaked data published by the ICIJ, we raised the question about how charities handle money. We insisted on the importance of their reputation as a key to success.
							With our investigation we have shown that the majority of well-known charities present in the leaks were not implicated directly and that their names were often usurped by the law firms to help obscure the origin of money in questionable funds. </p>
							
						<p> It is important that these charities not suffer from the presence of their names in these leaks. For now, we know that the biggest charities have published a disclaimer about their implication (for example <i> The Red Cross </i> and <i> Amnesty International </i>).
							
						<p> However, we did discover some black sheep.
							It is shocking to discover than these guilty charities can spend through these firms hide away the donated money and spend it on a goal opposite to their initial objective (for example <i>The Nature Conservancy</i>).</p>
							
						<p> We asked how charities behave, and found a certain amount of structure in the way shells for charities or shells impersonating charities are set up, but our work we scratched the surface of the issue, and could easily be extended. First, more data on charities could be integrated, as we only worked with the most famous and easily accessible ones.
						Another path we could follow would be to establish a scoring algorithm to rate every charity named in the leaks according to the probability that it is real.</p>
							
						<p> To conclude, these findings should not impact the donations made, but rather draw attention to the importance of researching who you give to.
							
						<p> And if you realize with this lecture that you once helped a bilionnaire buy a <a href="https://offshoreleaks.icij.org/nodes/85005753" target="_blank">pool</a>, don't feel guilty : </p>
						
						
						<h4>“It's not how much we give but how much love we put into giving.” </h4>
						<h5>Mother Theresa</h5>
						
				</div>
			</div>
		</div>
    </section>
